* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}
.add_new,
.first_search {
  padding: 1rem;
  background-color: antiquewhite;
  box-shadow: 0 2px 2px #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hidden {
  display: none;
}
.first_search input,
.tuman,
.viloyat {
  min-width: 9rem;
  padding: 0.1rem;
}
.btn_filtr,
.btn {
  margin-left: 1rem;
  cursor: pointer;
  padding: 0.2rem;
  background: transparent;
}

.show-btn:hover,
.btn_filtr:hover {
  background-color: darkgrey;
}
.add_new input {
  padding: 0.5rem;
  width: 12.5%;
}

.add_new #viloyat,
.add_new #tuman {
  max-width: 0.2rem;
  padding: 0.5rem 0;
}

#send {
  margin: 0 40%;
  padding: 1rem;
  width: 13rem;
  cursor: pointer;
}

p {
  display: inline-block;
  width: 5rem;
}

#viloyat,
#tuman {
  padding: 0.5rem;
  width: 14.3rem;
}

#adress {
  width: 60%;
}

.add_new {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 8px;
  z-index: 100;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.form_add {
  position: relative;
}
.cancel {
  position: relative;
  border: 0;
  font-size: 20px;
  color: #222;
  top: -170px;
}

.modem_number_input {
  min-width: 9rem;
}
